@media (max-width: 500px) {
  .grd {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: [left]40vw [divider]1fr[right];
    grid-template-rows: repeat(4, [h]20vh) [h];
  }
}
