.smallCard {
  background-color: #fdfdfd;
  border-radius: 0.2rem;
  box-shadow: -0.1rem 0.2rem 1rem gray;
  margin-left: -0.5rem;
  padding: 0.1rem;
  width: 2.5rem;
}

.unselectable__small {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  margin: 0.2rem;
  line-height: 1rem;
}

.smallCardTextContainer {
  text-align: right;
  width: 1.3rem;
}

.redSuit {
  color: #b30000;
}
.blkSuit {
  color: #2f2f2f;
}

@media (min-width: 500px) {
  .card {
    background-color: $off-white;
    border-radius: 0.3rem;
    box-shadow: -0.1rem 0.2rem 1rem gray;
    margin: 0.2rem;
    margin-left: -1rem;
    padding: 0.01rem;
    width: 4rem;
    margin-top: 1rem;
  }
  .selected {
    margin-top: 0rem;
  }
  .unselectable__big {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    margin-left: 1rem;
  }
}

@media (orientation: landscape) {
  .card {
    background-color: #fdfdfd;
    border-radius: 0.2rem;
    box-shadow: -0.1rem 0.2rem 1rem gray;
    padding: 0.1rem;
    width: 2.5rem;
    height: 10vh;
  }
  .cardTextContainer {
    text-align: right;
    width: 1.3rem;
  }
  .unselectable__big {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    margin: 0.2rem;
    line-height: 1rem;
  }
}

@media (max-width: 500px) {
  .logo_ctnr {
    width: 0.5rem;
  }
  .card {
    background-color: #fdfdfd;
    border-radius: 0.2rem;
    box-shadow: -0.1rem 0.2rem 1rem gray;
    padding: 0.1rem;
    width: 2.5rem;
    height: 6vh;
  }
  .selected {
    margin-left: 2rem;
  }
  .cardTextContainer {
    text-align: right;
    width: 1.3rem;
  }
  .unselectable__big {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    margin: 0.2rem;
    line-height: 1rem;
  }
}
