.card {
  background-color: $off-white;
  border: 0.01rem solid gray;
  margin: 0.2rem;
  margin-left: -1rem;
  border-radius: 0.3rem;
  width: 4rem;
  box-shadow: -0.1rem 0.2rem 1rem gray;
  cursor: pointer;
}
