.opponentsPanel {
  display: flex;
  height: 15rem;
}

.opponentCards {
  background-color: #708090;
  padding: 0.3rem;
  border-radius: 0.25rem;
  margin-left: -2rem;
  box-shadow: -0.1rem 0.2rem 0.75rem black;
}
.logo_ctnr {
  width: 2rem;
}
.opponentCards__container {
  display: flex;
  margin: 1rem 2rem;
}

@media (orientation: landscape) {
  .opponentsPanel {
    height: 45vh;
  }
  .opponentPanel {
    width: 30vw;
  }
}

@media (max-width: 500px) {
  .opponentsPanel {
    display: flex;
    flex-direction: column;
  }
  .opponentPanel {
    height: 20vh;
  }
  .opponentPanel__infoCards {
    height: 10vh;
    display: flex;
  }
  .opponentCards {
    background-color: #708090;
    padding: 0.1rem;
    border-radius: 0.2rem;
    margin-top: -0.2rem;
    box-shadow: -0.1rem 0.2rem 0.75rem black;
  }
}
