.startButton {
  font-size: 5vw;
  background-color: #33cc00;
  cursor: pointer;
  height: 20vh;
  line-height: 20vh;
  width: 50vw;
  margin: auto;
  text-align: center;
  position: relative;
  top: 50vh;
  transform: translate(0%, -50%);
  border-bottom: 2vh #196619 solid;
}
