.turnPanel {
  display: flex;
  margin-left: 1rem;
  height: 9rem;
}

@media (max-width: 500px) {
  .turnPanel {
    display: flex;
    margin-left: 1rem;
    height: 9rem;

    grid-column: divider / right;
  }
}
